h1 {
      font-family: Helvetica;
      color: rgb(246, 244, 244);
      font-size: 400%;
      border: 2px solid rgb(97,95,78);

    }

table {
    font-family: Helvetica;
    color: solid rgb(97, 95, 78);
    
    }

body {
      background-color: rgb(148,187,197);
      border: 2px solid rgb(97,95,78);
  	}


 th {
      font-size: 18px;
      border: 1px solid rgb(97, 95, 78);
    }
   
 td {
      border: 1px solid rgb(97, 95, 78);
    }
