

  h1 {
      text-align: center;
      font-family: Serif;
      color: #5B7876;
      font-size: 500%;


  }

  div.relative {
    position: static;
  } 

  div.fixed {
    position: fixed; 
  }

  div.absolute {
    position: absolute;
}


  img.align-left {
    float: left;
    margin-right: 10px;

  } 

  h2 {
      color: #412A22;
      text-align: center;
      font-family:Helvetica;
      font-size: 200%;
  }

  h3 {
      text-align: center;
      font-family:Helvetica;
      color: #412A22;
  }

  table {
    font-family: Helvetica;
    color: solid rgb(97, 95, 78);
    border: 1px solid gray;
    background-color: #8F9E8B;
    padding: 10px;
    overflow: auto;
  }

body {
      width: 99%;
      background-color: #EFECCA;
      background-image: url();
      overflow: auto;
  }

  th.totals {
    background-color: rgb(157, 163, 163);
  }

  th {
      font-size: 18px;
      border: 1px solid rgb(97, 95, 78);
      padding: 3px;
  }
   
  td {
      border: 1px solid rgb(97, 95, 78);
      padding: 3px;
  }

  p {
    font-family: Helvetica;
    font-size:;
  }


  li {
    font-family: Helvetica;
    font-size: ;
    text-indent: 20px;
  }

  footer {
    text-align: center;
  }

  a, ul {
    color: #412A22;
    padding: 5px;
    font-family:Helvetica;
    font-size: 100%;
    display: inline;
  }

  fieldset {
    font-family: Helvetica;
  }